# Useless large files
code.zip
AVVR-Papers/VR Demo.mp4

# misc
UniWorkforce/
scripts/enhancetest/
optional-module.pdf

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# LFS files
*.psd
#*.png
#*.jpg
*.fbx
*.mp4

# Others
.DS_Store
Thumbs.db
S3A-AcousticRoomModelling-ResonanceAudio-V2.zip
S3A-AcousticRoomModelling-SteamAudio-EdgeNet-Full.zip
