[submodule "360monodepth"]
	path = 360monodepth
	url = https://github.com/Muhammad-Hazimi-Yusri/360monodepth.git
[submodule "edgenet360"]
	path = edgenet360
	url = https://github.com/Muhammad-Hazimi-Yusri/Mesh-Generation.git
[submodule "material_recognition/Dynamic-Backward-Attention-Transformer"]
	path = material_recognition/Dynamic-Backward-Attention-Transformer
	url = https://github.com/Muhammad-Hazimi-Yusri/Dynamic-Backward-Attention-Transformer.git